<div class="container">
  <h1>{{ title }}</h1>
  <!--
  <br/>
  <div class="container">
    <div class="row">
         <div class="col-lg-12">
       <div class="button-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#" class="small" data-value="option1" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 1</a></li>
    <li><a href="#" class="small" data-value="option2" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 2</a></li>
    <li><a href="#" class="small" data-value="option3" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 3</a></li>
    <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
    <li><a href="#" class="small" data-value="option5" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 5</a></li>
    <li><a href="#" class="small" data-value="option6" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 6</a></li>
  </ul>
    </div>
  </div>
    </div>
  </div>
  /-->
  <!-- <select ng-model="selectedPlace">
  <option *ngFor="let place of places" value="{{place.name}}"> {{ place.name}}</option>
  </select> /-->

  <!-- <h1>You selected: {{ selectedPlace }}</h1>
  <ul>
    <li *ngFor="let place of places">
        {{ place.name }}
    </li>
  </ul> /-->
    <div class="d-flex flex-row">
        <div class="p-2">
            <select  class="mdb-select colorful-select dropdown-primary" multiple searchable="Search here.." [(ngModel)]="selectedPlace" name="selectedPlace">
            <option *ngFor="let place of places" [ngValue]="place">
                 {{ place.name }}
            </option>
            </select>
        </div>
        <div class="p-2">
            <div class="d-flex flex-column">
              <label class="btn btn-secondary active">
                  <input type="checkbox" ng-checked="all" (change)="checkPump($event)"> Cykelparkering
              </label>
              <button type="button"  (click)="calculateRoute()" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Beräkna väg
              </button>
            </div>
        </div>
        <div class="p-2">
            <div class="d-flex flex-column">
                <label class="btn btn-secondary active">
                    <input type="checkbox" ng-checked="all"  (change)="checkPump($event)" > Cykelpumpar
                </label>
                <button type="button" (click)="reset()" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Rest
                </button>
            </div>
        </div>
    </div>

  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->

  <agm-map [zoom]="11" [latitude]="userCoords.location.lat" [longitude]="userCoords.location.lng">
  <agm-marker [latitude]="place.coords[0]" [longitude]="place.coords[1]" *ngFor="let place of selectedPlace">
    <agm-info-window>
    <b>{{place.name}}:</b><br><br>
      {{place.description}}
    </agm-info-window>
  </agm-marker>
  <ng-container *ngIf="isPumpChecked">
    <agm-marker [latitude]="pump.coords[0]" [longitude]="pump.coords[1]" *ngFor="let pump of bicyclePumps">
    </agm-marker>
  </ng-container>
  <ng-container *ngIf="isParkingChecked">
    <agm-marker [latitude]="parking.lat" [longitude]="parking.lng" *ngFor="let parking of bicycleParkingSpots">
    </agm-marker>
  </ng-container>
   <agm-marker [latitude]="userCoords.location.lat" [longitude]="userCoords.location.lng">
     <agm-info-window>
       Din position
     </agm-info-window>
   </agm-marker>
  <agm-direction *ngIf="directionReq" [optimizeWaypoints]="true" [travelMode]="directionReq.travelMode" [origin]="directionReq.origin" [waypoints]="waypointReqs" [destination]="directionReq.destination" (onChange)="dirChange($event)"></agm-direction>
  </agm-map>
</div>
